<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #sidenav mode="over" fixedInViewport>
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <h3>Sidenav content</h3>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-icon class="pointer" (click)="sidenav.toggle()">menu</mat-icon>
      <span> My Application</span>
    </mat-toolbar>
    <!-- <h1>Main</h1>
    <button mat-button (click)="sidenav.toggle()">Toggle</button> -->
    <dashboard></dashboard>
    
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
